.landing .cover {
    width: 100%;
}
.landing .header-inner {
    position: absolute;
    top: 40px;
    margin-left: 13%;
    margin-right: 10%;
    width: 77%;
}
.landing .header-inner .left {
    color: #fff;
}
.landing .header-inner .left h2 {
    font-size: 28px;
    font-family: 'ProximaNova-Medium';
    line-height: 1.14;
    margin-bottom: 32px;
    margin-top: 160px;
}
.landing .header-inner .left p {
    line-height: 1.1;
    font-size: 21px;
    width: 459px;
    font-family: 'ProximaNova-Light';
    text-align: left;
}
.landing .header-inner .right {
    right: 0;
    position: absolute;
    top: 0;
}
.landing section.overview {
    position: relative;
    margin-top: 10%;
    padding: 40px 0px;
}
.landing section.overview h3 {
    font-family: 'ProximaNova-SemiBold';
    font-size: 25px;
    padding: 25px 0px;
}
.landing section.overview p {
    font-family: 'ProximaNova-Regular';
    font-size: 17px;
    line-height: 1.2;
    padding: 0px 30px 0px 0px;
}
