@media only screen and (min-width:320px){}
@media only screen and (min-width:480px){}

@media only screen and (min-width:768px){}

@media only screen and (min-width:992px){}
@media only screen and (min-width:1200px){}
@media only screen and (max-width:1200px){

}
@media only screen and (max-width:1200px) and (min-width:769px){
}
@media only screen and (max-width:992px){ul.navbar-nav{margin-left:12px;}

}
@media only screen and (max-width:768px){
    .content-container{padding:20px 0;}
    section#index-tab .earnings .daily .last-7-days .seven-item {
        width: 100%;
    }

}
@media only screen and (max-width:480px){.modal-small{width:calc(100% - 36px);}

}
@media only screen and (max-width:320px){}
@media only screen and (max-width:400px){

}