body{
    background: #178bbf !important;
    font-family: "Open Sans",arial,x-locale-body,'sans-serif';
}
.container-fluid{
    /* The image used */
    background-image: url("/images/plane1.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}
.container-fluid{
   height: 700px;
}
ul.mother_menu li img{
    width: 30px; 
    height: 30px; 
    color: #ffffff !important;
    margin-top: 7px;
}
.my_icon{

    font-size: 30px !important;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

input.dest_input{
    border:2px solid #fff !important;
    background: #c7bbbbab !important;
}

   /*ehtiyat css*/
/*.nav-pills{*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*margin: 0px 222px 0px 222px;*/
/*}*/
ul.filtir li{
    list-style:none;
    float: left;
    margin: auto;
}

/*input*/
input.filtr{
    background: #14264e38;
    border:1px solid purple;
    border-radius: 4px;
    padding: 7px;
}

select.filtr{
    background: #14264e38;
    border:1px solid purple;
    border-radius: 4px;
    height: 36px;
}

label.my_label{
    color: white !important;
    font-size: 14px !important;
}
.slider{
    color: white;
}
.service{
    display: inline;
}
.add_trans{
    color:purple;
}
ul.service li{
    list-style: none;
    float: left;
    margin-left: 10px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:2px;
    color: whitesmoke;
}
ul.nav li a i:hover{
    color:rebeccapurple;
}
ul.modal_content li{
    list-style: none;
    color: #fff;
}
ul.modal_content li a{
    text-decoration: none;
}

.datepicker{
    margin:27px 0 0 0 !important;
}
input::placeholder{
    color: #fff;
}

input[type="text"].filtr::-webkit-input-placeholder {
  color: whitesmoke !important;
}
input[type="text"].backg::-webkit-input-placeholder {
  color: #000 !important;
  font-family: "Open Sans",arial,x-locale-body,'sans-serif';
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/*Modal Css*/
.x{
    color: #fff !important;
}
.x:hover{
    color: red !important;
}
.modal-content{
    width: 350px;
    height: 370px;
    background: #14264e38 !important; 
    border:2px solid #fff !important;
    position: absolute;
    top:250px;
    padding: 0;
}

ul.modal_content li label{
    color: #fff;
}
.modal-content h4.text{
    color: #fff;
    font-weight: bold;
}

ul.modal_content li input{
    width: 50px;
}
.modal-footer{
    position: relative;
    bottom: 60px;
}

/*rent-car css*/
.advenced-foot{
    margin-top: 70px;
}
.advenced-foot a{
    text-decoration: none !important;
    color: #ffffff;
}

.advenced-preferce{
    margin-left: -26px;
}
.advenced-preferce li{
    list-style: none;
    float: left;
    width: 300px;
}
.advenced-preferce select{
    background: #9c27b0;
    color: #eeeeee;
    padding: 5px;
    border: none;
}
.drive-foot li{
    list-style: none;
}
.drive-foot input[type="checkbox"]{
    background: #9c27b0;
    color: #eee;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    .modal-content {
        position: absolute;
        top: 100px;
        width: 270px;
        height: 300px;
    }

    ul.modal_content li{
        line-height: 30px;
    }
}